// Widget variables
$widget-bg-color: white;
$widget-border-color: #45ccf5;
$widget-shadow-color: #588593;

$widget-input-placeholder-color: black;
$widget-input-underline-color: #45ccf5;

$widget-result-label-color: black;
