.valuationInput table {
    margin: auto;
    text-align: right;
}

.inputRow td {
    padding: 0.5em;
}

.yearInputRow .inputCol .Select {
    text-align: left;
    width: 100%;
}

.inputCol {
	display: flex;
	min-width: 7em;
}

.inputCol input {
	flex-grow: 1;
	margin: 0 0.5em;
}

::-webkit-input-placeholder {
   color: $widget-input-placeholder-color;
}

:-moz-placeholder { /* Firefox 18- */
   color: $widget-input-placeholder-color;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $widget-input-placeholder-color;  
}

:-ms-input-placeholder {  
   color: $widget-input-placeholder-color;  
}

.valuationInput input {
  border: none;
  background: transparent;
  border-bottom: 1px solid $widget-input-underline-color;
  outline: none;
  width: 100%;
}

.valuationInput input:disabled {
  border: none;
  color: $widget-text-color;
}