
.valuationWidget {
    background-color: $widget-bg-color;
    padding: 1em;
    margin: 1em;
    border: 1.5px solid $widget-border-color;
    border-radius: 5px;
    display: inline-block;
    color: $widget-text-color;
    max-width: 30em;
    min-width: 10em;
    box-shadow: 4px 4px 7px 0px $widget-shadow-color;
}

.valuationWidget li {
    margin: 1em;
}

@import "components/valuationInput";
@import "components/valuationDisplay";



