.valuationInput {
    display: flex;
    flex-direction: column;
}

.inputRow {
    display: flex;
    flex-direction: row;
    margin: 1em 0;
    @media screen and (max-width: $break-small) {
      flex-direction: column;
    }
}

.inputLabel {
  margin-bottom: 5px;
}

.inputLabel {
    width: 40%;
    text-align: right;
    padding-right: 10px;
    font-size: 12pt;
    @media screen and (max-width: $break-small) {
      width: 100%;
      text-align: left;
    }
}

.inputCol {
	display: flex;
	min-width: 7em;
  width: 60%;
  @media screen and (max-width: $break-small) {
    width: 100%;
  }
}

.inputCol input {
	flex-grow: 1;
}

.inputCol span.inputUnit {
  margin-left: 0.25em;
  width: 5.5em;
  text-align: left;
}

::-webkit-input-placeholder {
   color: $widget-input-placeholder-color;
}

:-moz-placeholder { /* Firefox 18- */
   color: $widget-input-placeholder-color;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $widget-input-placeholder-color;  
}

:-ms-input-placeholder {  
   color: $widget-input-placeholder-color;  
}

.valuationInput input {
  border: none;
  background: transparent;
  border-bottom: 1px solid $widget-input-underline-color;
  outline: none;
  width: 100%;
  margin: 0 7px;
}

.valuationInput input:disabled {
  border: none;
  color: $widget-text-color;
}

.rc-slider {
  margin: 0 7px;
}

.rc-slider-dot-active {
  border-color: $widget-input-underline-color;
}

.rc-slider-track {
    background-color: $widget-input-underline-color;
}

.rc-slider-handle {
    border-color: $widget-input-underline-color;
}